/* TODO Add site wide styles */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  --main-color: #202124;
  --text-color: #e8eaed;
}

.keepsList {
  display: flex;
  /* border: 1px solid red; */
}
