.keep {
  border: var(--border-custom);
  border-radius: 8px;
  padding: 12px;
}

.keep__title {
  color: var(--text-primary-color);
}

.keep__tasks {
  padding: 0 12px;
  color: var(--text-primary-color);
}

.keep__completedTasks {
  border-top: var(--border-custom);
  color: var(--text-secondary-color);
}

.keep__completedTasks i {
  width: 16px;
  text-align: center;
}

.keep__completedTasks span {
  margin-left: 4px;
}

.keep__date {
  text-align: right;
  color: var(--text-secondary-color);
  font-size: 12px;
}

.completed {
  text-decoration: line-through;
}
